@font-face{
  font-family: 'OpenSans';
  src: url(../font/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'OpenSans';
  src: url(../font/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}


body {
	margin: 0;
}
.main_sport{
	overflow: hidden;
}
.players_section{
	position: relative;
}

.header{
	width: 100%;
	min-height: 960px;
	position: relative;
	background-image: url(../img/football_1920.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
}

.header::after {
	content:"";
	position: absolute;
	top: 0px;
	left: 0px; 
	width: 100%;
	height: 100%;
	background-color: #02002c;
	opacity: 0.9;
}

.logo{
    width: 250px;
    position: relative;
    padding-top: 50px;
    z-index: 2;
    margin: 0 auto;
}

.wrapper{	
	margin-right: auto; 
	margin-left:  auto; 
	max-width: 1920px;
	padding-right: 180px;
	padding-left:  180px;
	display: flex;
	flex-wrap: wrap;
} 

.header_title{
	position: relative;
	display: inline-block;
	font-size: 90px;
	font-family: OpenSans;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 100px;
	letter-spacing: 5px;
	color: #fff;
	z-index: 2;
	margin-top: 250px;
}

.title_add{
	float: right;
	line-height: 100px;
	letter-spacing: 5px;
	padding-top: 10px;
}

.btn_smart{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}

.button{
	width: 310px;
	height: 75px;
	border-radius: 105px;
	font-size: 14px;
	margin-right: 60px;
	background-color: #5e42b0;
	padding: 0 20px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-family: OpenSans;
}

.btn_span{
	font-family: OpenSans;
	font-weight: bold;
}
.btn-icon{
	width: 40px;
	display: inline-block;
    float: left;
    padding: 0 20px;
}
.btn_text{
	display: block;
	text-align: left;
}
.app_upper{
	display: block;
	font-family: OpenSans;
	font-weight: bold;
}

.type_title {
    font-size: 80px;
	font-family: OpenSans;
	font-weight: bold;
	text-transform: uppercase;
	color: #e7e7e7;
	left: 780px;
	position: relative;
	margin-left: 45px;
}
.type_title_left{
	padding-top: 60px;
	font-size: 80px;
	font-family: OpenSans;
	font-weight: bold;
	text-transform: uppercase;
	color: #e7e7e7;
	text-align: left;
}

.flex_right{
	width: 100%;
	padding-bottom: 20px;
}

.flex_right_mid{
	width: 100%;
	padding-bottom: 20px;
	background-color: #f6f4fa;
}

.flex_right_down{
	width: 100%;
	padding-bottom: 20px;
	background-color: #5e42b0;
	color: #fff;
}

.flex_left{
	padding-bottom: 20px;
}

.flex_left_mid{
	padding-bottom: 20px;
	background-color: #f6f4fa;
}

.flex_left_down{
	padding-bottom: 20px;
	background-color: #0a0e34;
	color: #fff;
}

.badge-numbers{
	position: relative;
	font-size: 50%;
	top: -10px;
	font-family: OpenSans;
	font-weight: bold;
	color: #000;
	border-bottom: 4px solid #5e42b0;
}

.badge-numbers-gray{
	position: relative;
	font-size: 50%;
	top: -10px;
	font-family: OpenSans;
	font-weight: bold;
	color: #000;
	border-bottom: 4px solid #c1c1c1;
}
.badge-numbers-gray-nom{
	position: relative;
	font-size: 50%;
	top: -10px;
	font-family: OpenSans;
	font-weight: bold;
	color: #5e42b0;
	border-bottom: 4px solid #c1c1c1;
}
.football_img{
	position: absolute;
	left: 400px;
}
.basketball_img{
	position: absolute;
	right: 40px;
}
.section{
	position: relative;
	left: 780px;
	margin-left: 45px;
	max-width: 800px;
}

.section_players{
	max-width: 800px;
}
.text_sect{
	font-size: 20px;
	font-family: OpenSans;
}
.name_section{
	text-transform: uppercase;
	font-size: 36px;
	font-family: OpenSans;
	font-weight: bold;
	color: #c1c1c1;
}

.work_section{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.item_text_one {
    height: 760px;
    background-size: cover;
    background-position: center center;
    flex: 50%;
    box-sizing: border-box;
    position: relative;

}

.item_text_two{
	height: 760px;
    background-size: cover;
    background-position: center center;
    flex: 50%;
    box-sizing: border-box;
    position: relative;
}

.item_text_three{
	height: 760px;
    background-size: cover;
    background-position: center center;
    flex: 50%;
    box-sizing: border-box;
    position: relative;
}

.item_one{
	height: 760px;
    background-size: cover;
    background-position: center center;
    flex: 50%;
    box-sizing: border-box;
    position: relative;
	background-image: url(../img/be-active.jpg);
}

.item_two{
	height: 760px;
    background-size: cover;
    background-position: center center;
    flex: 50%;
    box-sizing: border-box;
    position: relative;
	background-image: url(../img/find-contact.jpg);
}

.item_three{
	height: 760px;
    background-size: cover;
    background-position: center center;
    flex: 50%;
    box-sizing: border-box;
    position: relative;
	background-image: url(../img/work-it.jpg);
}

.txt-cont {
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
}

.cont_title{
	display: inline-block;
  	position: relative;
 	font-size: 24px;
 	max-width: 600px;
 	text-align: left;
    left: 110px;
    padding-bottom: 50px;
    font-family: OpenSans;
}
.upper_txt{
	display: block;
	font-size: 80px;
	color: #e7e7e7;
	margin-bottom: 60px;
    text-transform: uppercase;
}


.badge {
	padding: 60px;
	background-color: #5e42b0;
	position: absolute;
	left: -190px;
	color: #fff;
}

.badge-left{
	padding: 60px;
  	background-color: #5e42b0;
  	position: absolute;    
  	left: 760px;
    color: #fff;
    z-index: 2;
}



.footer_surface{
	width: 100%;
	min-height: 960px;
	position: relative;
	background-image: url(../img/game_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.footer_surface::after {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #02002c;
	opacity: 0.9;
}

.logo_footer_up{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	display: inline-block;
	position: relative;
	z-index: 2;
}
.logo_sur{
    width: 145px;
    height: 145px;
    border-radius: 35px;
    background-color: #694ac1;
    float: left;
    margin-right: 35px;
	margin-top: 35px;
}

.logo_sur_d{
	padding: 25px 15px;
	width: 105px;
}

.footer_title{
	float: right;
	display: block;
	text-align: left;
	letter-spacing: 5px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: OpenSans;
	z-index: 2;
	color: #fff;
}

.upper_txt_d{
	display: block;
	font-size: 80px;
}

.btn_smart_down{
	width: 100%;
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 120px 0 270px;
}

.logo_down{
    width: 200px;
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 50px auto;
}



@media (max-width: 1260px) {

	.logo_sur{
		margin: 35px auto;
		float: none;
	}
	.footer_title{
		margin: 0;
		float: none;
		text-align: center;
	}

}

@media  (max-width: 1130px){
	.wrapper{
		padding:0;
	}
}


@media screen and (max-width: 768px) {
	
	.header{
		background-image: url(../img/football_767.jpg);
		min-width: 768px;
	}
	.main_sport, .footer_surface{
		min-width: 768px;
	}

	.wrapper{
		max-width: 768px;
		padding-right: 33px;
		padding-left:  33px;
	}

	.header_title{
		font-size: 64px;
		letter-spacing: 1px;
		padding-top: 100px;
		margin: 0;
	}

	.title_add{
		padding: 0;
		margin-left: 100px;
	}

	.logo{
		width: 205px;
	}

	.btn_smart{
		display: flex;
		flex-wrap: nowrap;
		padding-top: 150px;
		left: 20px;
	}

	.football_img{
		margin-top: 100px;
		left: -170px;
	}

	.basketball_img{
		padding-top: 30px;
		right: 0;
	}

	.type_title{
		left: 250px;
		padding-top: 45px;
		margin: 0;
	}

	.type_title_left{
		margin: 0;
	}
	.section{
		margin-left: 0;
		left: 250px;
		max-width: 440px;
	}

	.section_players {
		max-width: 400px;
	}

	.name_section{
		font-size: 32px;
	}

	.text_sect{
		font-size: 16px;
	}

	
	.item_one{
		background-image: url(../img/be-active_960.jpg);
		height: 585px;
		order: 1;
		flex: 100%;
	}
	.item_text_one{
		height: 320px;
		order: 2;
		flex: 100%;
	}
	.item_two{
		background-image: url(../img/find-contact_960.jpg);
		height: 585px;
		order: 3;
		flex: 100%;
	}
	.item_text_two{
		height: 320px;
		order: 4;
		flex: 100%;
	}
	.item_three{
		background-image: url(../img/work-it_960.jpg);
		height: 585px;
		order: 5;
		flex: 100%;
	}
	.item_text_three{
		height: 350px;
		order: 6;
		flex: 100%;
	}
	
	.img_work {
		margin: 0;
		padding: 0;

	}
	.txt-cont{
		top: 0;
		margin: 0;
	}
	.cont_title{
		top: 35px;
   	 	left: 20px;
    	width: 90%;
	}

	.upper_txt{
		margin:0;
	}
	.badge {
   	    left: 0;
   	    top: -160px;
	}

	.badge-left{
	    left: 0;
    	top: -160px;
	}

	.footer_surface{
		background-image: url(../img/game_1280.jpg);
		background-position: center center;
	}

	.logo_footer_up{
		width: 100%;
		margin: 120px auto;

	}


	.upper_txt_d{
		margin: 0;
	    padding: 0;
	    letter-spacing: initial;
	    text-align: center;
	    display: flex;
	    flex-wrap: nowrap;
	}

	.footer_title{
		font-size: 36px;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.btn_smart_down{
		display: flex;
		flex-wrap: nowrap;
		padding: 100px 0 20px;
		left: 20px;
	}	
}

@media (max-width: 590px) {
	.btn_ic{
		width: 30px;
	}
	.btn-icon{
		padding: 0 10px;
	}
	.button{
		font-size: 10px;
	}
	.footer_title strong{
		font-size: 50px;
	}
	.footer_title{
		font-size: 24px;
	}
}

@media screen and (max-width: 320px) {

	.header{
		min-height: 568px;
		min-width: 320px;
	}
	.main_sport, .footer_surface{
		min-width: 320px;
	}
	.header_title{
		width: 100%;
		padding-top: 100px;
		font-size: 28px;
		line-height: 10px;
		letter-spacing: normal;
		margin: 0;
	}

	.title_add{
		line-height: 30px;
		padding-top: 11px;
		letter-spacing: normal;
		margin-left: 42px;
	}

	.wrapper{
		max-width: 320px;
		padding-right: 20px;
		padding-left:  20px;
	}

	.btn_smart{
		flex-wrap: wrap;
		margin-top: 50px;
		padding: 0;
	}

	.button {
	    margin-top: 20px;
	    height: 35px;
	    padding: 0 30px;
	    width: 260px;
	    margin: 10px auto;
	}

	.btn_ic{
		width: 20px;
	}

	.btn_text{
		font-size: 8px;
	}

	.type_title{
		font-size: 50px;
		padding-top: 10px;
		left: 0;
		margin-bottom: 280px;
	}

	.football_img{
	    left: 70px;
	    margin-top: 80px;
	}


	.section{
		width: 100%;
		margin: 0;
		left: 0;
	}

	.name_section{
		font-size: 23px;
	}

	.text_sect{
		font-size: 15px;
	}

	.type_title_left{
		font-size: 50px;
		padding-top: 10px;
		margin-bottom: 280px;
	}

	.basketball_img{
		left: 10px;
	    padding-top: 90px;
	}

	.section_players{
		width: 100%;
	}

	.badge{
		padding: 35px;
		top: -100px;
	}

	.cont_title{
		font-size: 16px;
		top: 15px;
	}

	.upper_txt{
		font-size: 28px;
		margin-bottom: 10px;
	}

	.footer_surface{
		min-height: 570px;
		background-image: url(../img/game_767.jpg);
	}

	.badge-left{
		padding: 35px;
		top: -100px;
	}

	.logo_footer_up{
		margin: 0;
	}

	.logo_sur{
		margin-top: 110px;
		width: 75px;
		height: 75px;
		border-radius: 15px;
	}
	.logo_sur_d{
		padding: 10px 8px;
		width: 60px;
	}

	.upper_txt_d{
		display: block;
		font-size: 32px;
	}
	.footer_title{
		text-align: center;
		font-size: 14px;
		letter-spacing: normal;
	}

	.btn_smart_down {
	    left: 0;
	    margin-top: 50px;
	    padding: 0;
	    flex-wrap: wrap;
	}

	.logo_down{
		width: 160px;
	}
	.item_one,
	.item_two,
	.item_three{
		height: 350px;
	}
	.item_text_one,
	.item_text_two,
	.item_text_three{
		height: 212px;
	}

}